dbdir {{ munin_dbdir }}
htmldir {{ munin_htmldir }}
logdir {{ munin_logdir }}
rundir {{ munin_rundir }}
tmpldir {{ munin_tmpldir }}
staticdir {{ munin_staticdir }}

graph_period {{ munin_graph_period }}

graph_strategy {{ munin_graph_strategy }}

{% if munin_graph_strategy  == 'cgi' %}

munin_cgi_graph_jobs {{ munin_graph_cgi_processes }}
cgiurl_graph {{ munin_graph_cgi_url }}
cgitmpdir {{ munin_graph_cgi_tmp }}
{% endif %}

max_size_x {{ munin_max_size_x }}
max_size_y {{ munin_max_size_y }}

html_strategy {{ munin_html_strategy }}

max_processes {{ munin_update_processes }}

{% if munin_rrdcached == True %}
rrdcached_socket {{ munin_rrdcached_socket }}
{% endif %}

{% for contact in munin_contacts %}
contact.{{ contact.name }}.command {{ contact.command }}
{% endfor %}

includedir /etc/munin/munin-conf.d
